%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{erl_opts, [debug_info, 
            fail_on_warning, 
            {outdir, "ebin"}, 
            warn_export_all,
            {src_dirs, ["src", "lib"]},
            {parse_transform, lager_transform}]}.

%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

%% Target directory for the release
{target, "target"}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.
%% What dependencies we have, dependencies can be of 3 forms, 
%% an application name as an atom, eg. mochiweb, a name and
%% a version (from the .app file), or an application name, a 
%% version and the SCM details on how to fetch it (SCM type, 
%% location and revision). Rebar currently supports git, hg, 
%% bzr and svn.
{deps, [{lager, "1.0.0", 
         {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}}
       ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.
